<p>Hello, <%= @bet.user.username %>!</p>
<p>Your bet for <%= @time %> has been successfully created. Here's hoping you win big!</p>

<p>Do not reply to this e-mail: it was sent by an automated mailer, and nobody is checking this account.</p>